{% for item in navigation.items %} {% if item.url == page.url %}
<li aria-current="page" class="list-none underline">{{ item.text }}</li>
{% else %}
<li class="list-none">
  <a href="{{ item.url }}"> {{ item.text }} </a>
</li>
{% endif %} {% endfor %} {% if navigation.external.size > 0 %}
<span class="hidden text-white sm:inline">|</span>
<hr class="my-4 mx-auto max-w-[10rem] sm:hidden" />
{% endif %} {% for item in navigation.external %}
<li class="list-none">
  <a href="{{ item.url }}">
    {{ item.text }}
    <svg
      class="-ml-1 mb-2 inline h-4 w-4"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
      ></path>
    </svg>
  </a>
</li>
{% endfor %}
