<header class="bg-stripes bg-[length:750px_380px] bg-left bg-no-repeat">
  <nav class="flex justify-between p-4">
    <a id="logo" class="z-20 flex items-center gap-2" href="/">
      <img
        class="h-12 w-12 rounded-full"
        width="48"
        height="48"
        src="https://res.cloudinary.com/moxvallix/image/upload/v1661845511/Moxvallix/profile_jqj6xb.png"
        alt="Moxvallix Logo"
      />
      <h2 class="text-3xl font-bold text-white">Moxvallix</h2>
    </a>
    <div
      id="links"
      class="hidden items-center gap-2 text-xl text-white sm:flex"
    >
      {% include "partials/navigation.html" %}
    </div>
    <div id="links-mobile" class="flex items-center sm:hidden">
      <details class="group">
        <summary
          class="relative z-20 cursor-pointer list-none rounded border border-white p-0.5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6 group-open:hidden"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="hidden h-6 w-6 group-open:block"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </summary>
        <div
          class="absolute left-0 top-0 z-10 flex w-screen flex-col items-center gap-4 bg-black/40 p-4 pt-0 pb-8 text-center backdrop-blur-lg"
        >
          <ul class="w-full space-y-2 pt-20 text-center text-2xl">
            {% include "partials/navigation.html"%}
          </ul>
        </div>
      </details>
    </div>
  </nav>
</header>
